.App {
  text-align: center;
}

.panel-container{
  width:30rem;
  background-color: rgb(158, 210, 255);
  margin-left:auto;
  margin-right:auto;
  margin-top:2.5rem;
  display: flex;
  flex-direction: column;
}

.panel{
  width:20rem;
  background-color: rgb(231, 255, 123);
  padding:1rem 1rem;
  margin-top:1rem;
  margin-bottom:1rem;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: row;
}

.panel p{
  font-size: 25px;
}

.panel img{
  height:5rem;
}

.panel-element{
  width:6rem;
  text-align: center;
  margin-left:0;
  margin-right:auto;
}

/* tablet 800px */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* mobile 500px */
