.App {
  text-align: center;
}

.panel-container{
  width:15rem;
  border:2.5px rgb(172, 248, 172) solid;
  margin-left:auto;
  margin-right:auto;
  margin-top:2.5rem;
  display: flex;
  flex-direction: column;
}

.panel{
  width:10rem;
  border:2.5px red solid;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: row;
}

.panel-element{
  border:2.5px rgb(255, 174, 0) solid;
  margin:auto;
}

/* tablet 800px */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* mobile 500px */
